/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
		font-family: 'Titillium Web', sans-serif;
		display: flex;
		justify-content: center;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}







/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* Header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px;
}

header nav a {
	margin: 0 25px;
	font-size: 15px;
	color: #B9B9B9;
	text-decoration: none;
}



/* Image */
.services-header-img {
  margin-top: 25px;
  width: 100%;
}



/* Services */
.intro {
  margin: 50px 0px;
}



/* LINE */

hr {
  margin-top: 25px;
  border-top: 1px solid black;
}




/* Grid */
.main-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%
  margin-top: 50px;
  justify-content: space-between;
}


.block {
  width: 440px;
  height: 250px;
  border: 1px solid black;
  background-color: #F4F3F4;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card { 
  margin-left: 10px;
}

.card-title, .card-p, .card-button {
  margin: 10px
}

button {
  height: 36px;
  width: 142px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
}

/* About us */

.bot {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.bot-left {
  width: 400px;
}


ul {
 margin-top: 25px;
}

li {
 list-style: square;
 line-height: 30px;
 list-style-position: inside;
}

 /*line */
hr.nd {
  margin-top: 40px;
  border-top: 2px solid black;
}


/*footer */
 footer {
	display: flex;
	justify-content: center;
	margin: 100px 0px 50px 0px;
	padding-bottom: 50px;
	font-size: 15px;
}



/* general */
.main {
	width: 920px;
}

p {
	font-size: 16px;
	line-height: 20px;
}

h2 {
	font-size: 16px;
}

 h1 {
   font-size: 26px;
 }

